.App {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
}

.backDiv {
  min-height: 600px;
  background-image: url("./secret2.jpg");
  background-size: 270%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.darken {
  background-color: rgba(0, 0, 0, 0.815);
  min-height: 600px;
}

.stickyHeader {
  position: sticky;
  top: 5px;
}
