.loginForm {
  width: 180px;
  margin: 10px auto;
}

.logField {
  margin: 5px;
}

.centerLoginBtn {
  width: 50px;
  margin: 20px auto;
}

.alert {
  font-size: 8px;
  width: fit-content;
  margin: auto;
}
